@media only screen and (max-width: 600px){
    header{
        padding-top: 50px;
    }

nav#navbar {
    width: 100vw;
    
    position: fixed;
    top: 0;
    left: 0;

    background-color: black;
}
}